apiVersion: v1
kind: Secret
metadata:
  name: {{ terms_based_registry_pull_secret_name }}
  namespace: openshift-config
data:
  .dockerconfigjson: {{ terms_based_registry_pull_secret|default("") }}
type: kubernetes.io/dockerconfigjson
